.background {
    background-color: #990a0d ;
}
.main {
    color: #f91115 ;
    text-align: center;
}
.other {
    color: #ffffff ;
    text-align: center;
}
.button {
    color: #ffffff ;
    text-align: center;
}
